.card {
	box-shadow: 9px 12px 30px rgba(0,0,0,.1);
	
	&.card-horizontal {
		width: 100%;
		margin: 0;
		border: none;
		border-radius: 0;
		margin: 0 0 1.2rem 0;

		@include media-breakpoint-up(md) {
			display: table;
		}
		
		.card-img-left {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			height: 200px;
			background-color: #eee;
			
			@include media-breakpoint-up(sm) {
				display: table-cell;
				width: 50%;
			}
			
			.card-img-left-inner {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-position: center center;
				background-size: cover;
				transform: scale(1);
				transition: all 3s ease;
			}
			
		}
		
		&:hover .card-img-left-inner  {
			transform: scale(1.3);
			transition: all 10s ease;
		}
		
		.card-block {
			position: relative;
			//left: -5px; //Prevent wiggly line when hovering
			right: 0;
			background: #fff;
			padding: 2rem 2rem 4rem 2rem;
			
			@include media-breakpoint-up(sm) {
				display: table-cell;
				vertical-align: middle;
				padding: 1rem 3rem;
				height: 350px; //Controls height of slide
				padding: 2rem;
			}
			
			@include media-breakpoint-up(lg) {
				padding: 3rem 4rem;
			}
			
			.card-subtitle {
				margin: 0 0 1rem 0;
				font-size: .85rem;
				font-family: $font1;
				line-height: 1.5;
				color: #aaa;
				text-transform: uppercase;

				a { color: #aaa; }

				p { display: inline-block; }

			}
			
			.card-title {
				margin: 0 0 1rem 0;
				line-height: 1.3;
				outline: none;
				text-transform: uppercase;
				
				a {
					color: #585858;
					line-height: 1.3;
					outline: none;
					text-decoration: none !important;
					transition: all .25s ease;
					
					&:hover { color: $color2; }
					
				}
				
			}
			
			.card-text p {
				line-height: 1.6;
				margin: 0 0 1rem 0;
			}
			
			.card-link {
				margin: 0;
				display: inline-block;
				font-size: .85rem;
				text-transform: uppercase;
				color: $color2;
				outline: none;
				font-family: $font1-medium;
				transition: all .25s ease;
				
				i {
					position: relative;
					left: -10px;
					opacity: 0;
					transition: all .25s ease;
				}
				
				&:hover {
					color: darken($color2, 15%);
				}
				
			}
			
		}
		
	} // .card-horizontal
	
	&.card-vertical {
		position: relative;
		border: none;
		margin: 0 0 1.8rem 0;
		border-top: 8px solid transparent;
		border-radius: 0;
		box-shadow: 9px 12px 30px rgba(0,0,0,.1);

		//@include media-breakpoint-down(md) { height: auto !important; }

		.card-img-top {
			display: block;
			border-radius: 0px;
			padding-bottom: 60%;
			background-position: center center;
			background-size: cover;
		}

		.card-block {
			padding: 2rem 2.4rem 5rem 2.4rem;
			
			@include media-breakpoint-up(xl) { padding-bottom: 6rem; }
			
			.card-subtitle {
				margin: 0 0 .6rem 0;
				font-size: .85rem;
				font-family: $font1;
				line-height: 1.5;
				color: #aaa;
				text-transform: uppercase;
				
				span { color: #aaa; }
				
			}
			
			.card-title {
				margin: 0 0 1rem 0;
				line-height: 1.3;
				outline: none;
				text-transform: uppercase;
				
				a {
					color: #585858;
					line-height: 1.3;
					outline: none;
					text-decoration: none !important;
					transition: all .25s ease;
					
					&:hover { color: $color2; }

					&:focus { outline: none; }
					
				}
				
			}
			
			.card-text p {
				line-height: 1.6;
				margin: 0 0 1rem 0;
			}
			
			.card-link {
				padding: 1rem;
				display: block;
				text-align: center;
				font-size: .8rem;
				text-transform: uppercase;
				color: $color2;
				outline: none;
				text-decoration: none;
				font-family: $font1-medium;
				transition: all .25s ease;
				
				i {
					position: relative;
					left: .1rem;
					top: 0;
					font-size: .8rem;
					transition: all .25s ease;
				}
				
				&.card-link {
					position: absolute;
					bottom: 1.6rem;
					left: 1.6rem;
					right: 1.6rem;
					margin: 0;
					text-decoration: none;
				}
				
			}
			
		}
		
		&:hover .card-link {
			color: #fff !important;
			background-color: $color2;
			
			&:hover {
				background-color: darken($color2, 10%);
			}
			
		}
		
	} // .card-vertical
	
}

//Card animations on hover
.card {
	
	&.card-vertical,
	&.card-horizontal {
		transition: transform .25s ease;
	
		&:hover {
			transform: translateY(-2px);
		}

	}

}

