// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

//WPForms overwrites
div.wpforms-container-full {
	
	form.wpforms-form {
		
		.wpforms-field {
			padding: 6px 0;
		}
		
		.wpforms-field-label {
			display: none;
		}
		
		input[type=date],
		input[type=datetime],
		input[type=datetime-local],
		input[type=email],
		input[type=month],
		input[type=number],
		input[type=password],
		input[type=range], input[type=search],
		input[type=tel],
		input[type=text],
		input[type=time],
		input[type=url],
		input[type=week],
		select,
		textarea {
			padding: 12px 16px;
			border-radius: 2px;
			border: none;
			box-shadow: 0px 4px 15px rgba(0,0,0,.1);
		}
		
		input[type=text],
		input[type=email],
		input[type=password],
		textarea {
			font-size: 1.1rem;
			height: 50px;
			width: 100%;
			max-width: 1000px;
		}
		
		textarea:focus {
			border: none;
		}
		
		.wpforms-submit-container {
			text-align: right;
			
			button[type=submit]	{
				color: #fff;
				font-family: $font1;
				font-size: 1.2rem;
				letter-spacing: .05rem;
				padding: 10px 40px;
				text-transform: uppercase;
				background-color: $color3;
				border: none;
				border-radius: 3px;
				box-shadow: 0px 4px 15px rgba(0,0,0,.1);
				transition: all .25s ease;
				
				&:hover {
					background-color: darken($color3, 10%);
					border: none;
				}
				
			}
			
		}	
			
	}
		
}