
nav.nav_primary {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;
	background: #525f65;
	background: -moz-linear-gradient(-45deg,  #adb8bd 0%, #525f65 100%);
	background: -webkit-linear-gradient(-45deg,  #adb8bd 0%,#525f65 100%);
	background: linear-gradient(135deg,  #adb8bd 0%,#525f65 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adb8bd', endColorstr='#525f65',GradientType=1 );

	@include media-breakpoint-up(md) { width: 580px; }

	.nav_primary_inner {
		position: relative;
		z-index: 2;
		display: none;
		padding: 4rem 1.5rem 6rem 1rem;
		overflow-x: auto;
		opacity: 1;
		height: 100vh;

		@include media-breakpoint-up(md) { padding: 3rem 3rem 6rem 3rem; }

		.formWrapper {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			padding: 6rem 2rem 0 2rem;

			@include media-breakpoint-up(md) { padding: 6rem 4rem 0 4rem; }

			.formWrapper__header {
				color: #fff;
				margin: 0 0 1rem 0;
				font-family: $font1-medium;
			}

			.loginForm {

				label {
					display: none;
				}

				.form-group {
					margin: 0 0 .8rem 0;
				}

				a.toggle-form {
					font-size: 1.2rem;
					font-family: $font1-medium;
					color: rgba(0,0,0,0.3);
					line-height: 42px;

					&:hover {
						text-decoration: underline;
						color: rgba(0,0,0,0.5);
					}

					i {
						margin: 0 .3rem 0 0;
					}

				}

				input[type="submit"] {
					float: right;
					border: none;
					color: #fff;
					font-size: 1.3rem;
					text-transform: uppercase;
					padding: 0 1.8rem;
					line-height: 42px;
					border-radius: 4px;
					font-family: $font1-bold;
					background-color: rgba(0,0,0,0.3);
					transition: all .25s ease;

					&:hover {
						background-color: rgba(0,0,0,0.5);
					}

				}

			}

		}

		> ul {

			> li {
				opacity: 0;
				position: relative;
				overflow: hidden;
				margin-top: .3rem;

				//Duration set via js
				animation-fill-mode: both;
				animation-name: fadeInUpSm;

				.menu-item-toggle {
					position: absolute;
			    right: 0;
			    top: 0;
			    width: 50px;
			    height: 52px;
			    padding-top: .2rem;
			    text-align: center;
			    font-size: 2.6rem;
			    color: #fff;
			    color: rgba(255,255,255,.6);
			    background-color: rgba(255,255,255,.06);
			    cursor: pointer;

			    @include media-breakpoint-up(md) { display: none; }

					&:active,
					&:hover {
						background-color: rgba(255,255,255,.2);
					}

				}

				> a {
					display: block;
					padding: .5rem 1rem;
					color: #fff;
					font-size: 2.1rem;
					line-height: 1.4;
					border-radius: 4px;
					font-family: $font1-medium;
					text-decoration: none;

					&:hover {
						background-color: rgba(255,255,255,.05);
					}

					&:before {
						content: "";
						position: absolute;
						left: 50%;
						top: 0;
						margin-left: -40px;
						width: 80px;
						border-radius: 50px;
						height: 100%;
						background-color: rgba(255,255,255,0);
						transition: none;
					}

					&:hover:before {
						left: -10%;
						margin-left: 0;
						width: 120%;
						background-color: rgba(255,255,255,.1);
						transition: all .5s ease;
					}

				}

				ul.sub-menu {
					display: none;
					padding: 0 0 1rem 1rem;
					list-style: none;

					li a {
						display: block;
						padding: .5rem 0;
						color: #fff;
						font-size: 1.4rem;
						border-radius: 4px;
						font-family: $font1;
						text-decoration: none;
					}

				}

			}

			&#menu-main-sub-navigation {
				margin: 1rem 0 0 0;

				li {
					display: inline-block;

					a {
						font-size: 1.4rem;
						color: rgba(255,255,255,.6);

						&:before { content: none; }

						&:hover {
							color: rgba(255,255,255,1);
							background-color: transparent;
						}

					}

				}

			}

		}

		.nav_primary_footer {
			padding: 1.4rem 0 0 0;
			margin: 3rem 0 0 0;
			border-top: 1px solid rgba(255,255,255,.3);

			.main_menu_contact {
				float: left;
				position: relative;

				p {
					padding: 0 0 0 50px;
					color: #fff;
					font-family: $font1;
					font-size: 1.1rem;

					span {
						display: block;
						font-family: $font2;
						font-size: .85rem;
						font-style: italic;
						opacity: .8;
					}

				}

				i.icon {
					position: absolute;
					left: 0;
					top: .1rem;
					width: 36px;
					line-height: 36px;
					color: #A3AEB3;
					font-size: 21px;
					text-align: center;
					border-radius: 100%;
					background-color: #fff;
					box-shadow: 0px 3px 8px rgba(0,0,0,.1);
				}

			}

			.nav_primary_logo {
				float: right;
				width: 140px;
				height: 40px;
				opacity: .9;
				text-indent: -9999px;
				background: url('/wp-content/uploads/2017/01/regency360-logo-white.png') no-repeat left top;
				background-size: contain;

				&:hover { opacity: 1; }

			}

		}

	}

}

//Nav login transitions
nav.nav_primary.showForm {

	#menu-main-navigation {
		position: relative;
		z-index: 1;
		opacity: 0;
	}

	.formWrapper {
		display: block;
		z-index: 2;
		animation-duration: .5s;
		animation-fill-mode: both;
		animation-name: fadeInUpSm;
	}

}
