.featured-form-modal__wrapper {
  position: fixed;
  // top: 78px; // Prevent from displaying underneath main header
  bottom: 62px;
  left: 10px;
  right: 10px;
  z-index: 1000;
  transform: translateX(0);
  transition: all .3s ease; // Needed to transition pop up when menu toggled for smaller screens

  @include media-breakpoint-up(sm) {
    // top: 118px;
    left: auto;
    right: 20px;
    bottom: 72px;
  }

  .featured-form-modal {
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    border: 4px solid #fff;
    background: #E9E9E9;
    max-height: 93vh;
    overflow: auto;
    padding: 2.2rem 1.4rem 1.2rem 1.4rem;
    box-shadow: 0px 10px 30px rgba(0,0,0,.2);
    pointer-events: none;
    // Animations
    transform: translateX(100%);
    transition: all .5s cubic-bezier(0.52, 1.15, 1, 1);

    @include media-breakpoint-up(sm) {
      width: 380px;
      border: 6px solid #fff;
      padding: 2.6rem 1.4rem 1.4rem 1.4rem;
    }

    .featured-form-modal__header {
      font-size: 1.5rem !important;
      line-height: 1.3;
      text-transform: uppercase;
      font-family: $font1-medium;

      @include media-breakpoint-up(sm) {
        font-size: 1.8rem;
      }
    }

    .wpforms-container {
      margin: 0;
      display: none;
    }

    #wpforms-2173 {

      input[type=email],
      input[type=password],
      input[type=text],
      textarea {
        font-size: 1rem;
        padding: 10px 12px;
      }

      input[type=email],
      input[type=password],
      input[type=text] {
        height: 38px;
      }

      textarea {
        height: 80px;
      }

      .wpforms-submit-container {
        margin-top: 1rem;

        button {
          font-size: 1.3rem;
          width: 100%;
          font-family: $font1-medium;
        }
      }
    }

    .wpforms-confirmation-container-full {
      padding: 10px;
    }
  }

  .featured-form-modal--visible {
    opacity: 1;
    pointer-events: inherit;
    transform: translateX(0%);
  }

  .featured-form-modal__learn-more-btn {
    color: #fff;
    font-family: $font1-medium;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    padding: 10px 40px;
    text-transform: uppercase;
    background-color: #1d6ca7;
    border: none;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0,0,0,.1);
    transition: all .25s ease;

    &:hover {
      background-color: #15507c;
      border: none;
    }
  }

  .modal__close-btn {
    position: absolute;
    top: 14px;
    right: 12px;
    z-index: 10;
    opacity: .6;
    font-size: .8rem;
    font-family: $font1-medium;
    text-transform: uppercase;
    color: #aaaaaa;
    cursor: pointer;
    transition: all .25s ease;

    &:hover {
      opacity: 1;
    }
  }

  .modal__open-btn {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
    background-color: #119fa1;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 10px 30px rgba(0,0,0,.2);
    transform: scale(0) rotate(180deg);
    transition: all .25s cubic-bezier(0.51, 1.33, 1, 1);

    .icon {
      display: block;
      width: 36px;
      line-height: 36px;
      color: #fff;
      margin: 6px;
      font-size: 1.6rem;
      text-align: center;
      border-radius: 100%;
      box-shadow: 0px 10px 30px rgba(0,0,0,.2);
      transition: all .25s ease;
    }

    &:hover i {
      background-color: #156b6d;
    }

    &.modal__open-btn--active {
      opacity: 1;
      transform: scale(1) rotate(0deg);
      transition: all .25s cubic-bezier(0.51, 1.33, 1, 1) .5s;
    }
  }
}

.body--modal-open {

  .header_main { top: -100%; }
  .nc_wrapper { bottom: -100%; }

  .featured-form-modal__outer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);

    .featured-form-modal__wrapper {
      bottom: 12px;
      // display: flex;
      // height: 100%;
      // position: relative;
      // left: auto;
      // right: auto;
      // top: auto;
      // bottom: auto;
      // align-items: center;
      // justify-content: center;
      // overflow: auto;
    }

    // .featured-form-modal {
    //   position: relative;
    // }
  }

  .featured-form-modal__wrapper .featured-form-modal .wpforms-container {
    display: block;
  }

  .featured-form-modal__learn-more-btn {
    display: none;
  }

}
