.pagination_box,
.nav-links {
  margin: 3rem 0 5rem 0;
  padding: 0 20px;

  > div {
    display: block; 
    
    &.pagination_box--prev,
    &.nav-previous {
      float: left;

      a:before {
        content: "← ";
      }

    }

    &.pagination_box--next,
    &.nav-next {
      float: right;

      a:after {
        content: " →";
      }

    }

    a {
      display: block;
      padding: 0 16px;
      line-height: 40px;
      border-radius: 4px;
      font-size: .85rem;
      color: $color2;
      text-decoration: none;
      background-color: #fff;
      box-shadow: 0px 4px 15px rgba(0,0,0,.1);
      font-family: $font1-medium;
      text-transform: uppercase;

      &:hover {
        color: #fff;
        background-color: $color2;
      }

      &:active {
        transform: translateY(2px);
        transition: none;
        box-shadow: none;
      }

    }

  }

} // .pagination_box