
.search-form-box {
	margin: 0 0 1rem 0;
	
	@include media-breakpoint-up(sm) {
		margin: 2rem 0;
	}

	form.search-form {
		position: relative;
		display: inline-block;
		width: auto;

		input[type="search"].search-field {
			width: 50px;
			border: none;
			border-radius: none;
			line-height: 50px;
			height: 50px;
			padding: 0 4px;
			opacity: 0;
			cursor: pointer;
			border-radius: 0px;
			border-bottom: 1px solid transparent;
			transition: all .25s ease;

			&:focus {
				width: 300px;
				max-width: 290px;
				opacity: 1;
				padding: 0 50px 0 4px;
				cursor: default;
				border-bottom-color: #ccc;
			}

		}

		.search-submit {
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			width: 50px;
			height: 49px;
			opacity: .7;
			pointer-events: none;
			text-indent: -9999px;
			background: #fff url('#{$root}/assets/images/icon-search.png') no-repeat center center;
			background-size: 24px auto;
		}

	}

}