@keyframes fadeInUpSm {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeftSm {
  0% {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDownSm {
  0% {
    opacity: 0;
    transform: none;
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 20%, 0);
  }
}

@keyframes zoomDownBig {
  0% {
    transform: scale(20);
  }
  50% {
  	opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}