html {
	//font family $font-family-base
	font-style: normal;
	font-weight: normal;
	font-size: $font-size-root; //From boostrap variable.scss
    line-height: $line-height-base; //From bootstrap variable.scss
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    @include media-breakpoint-up(sm) { font-size: $font-size-root * 1.1; }
    @include media-breakpoint-up(lg) { font-size: $font-size-root * 1.15; }

}

body {
	color: #666;

	&.menu-open {

		#site,
		header.header_main {
			left: -100%;

			@include media-breakpoint-up(md) { left: -580px; }

		}

		.featured-form-modal__wrapper {
			pointer-events: none;
			transform: translateX(500px);
		}

	}

}

.iosBugFixCaret.body--modal-open {
	position: fixed;
	width: 100%;
}

#site {
	position: relative; //For menu transition
	z-index: 2; //Place in front of menu
	left: 0;
	background: #fff;
	box-shadow: 0 3px 50px 0px rgba(0,0,0,.3);
	transition: left .5s ease;
}

.container {
	width: 100%;
  max-width: 100%;
	margin: 0 auto;

	@include media-breakpoint-up(xl) { width: 90%; }

}

#site_main .container-fluid {
  width: 97%;
}

a {
  color: $color4;
	-webkit-tap-highlight-color: rgba(0,0,0,0.3) !important;
	transition: all .25s ease;

  &:focus,
  &:hover {
    color: darken($color4, 10%);
  }

}

[href^="tel"] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font1-bold;
	font-style: normal;
	font-weight: normal;
	color: #585858;
	line-height: $line-height-base;

	b,
	strong {
		font-weight: normal;
	}

}

/* Responsive Header Type */
@include media-breakpoint-up(md) {
    h1, .h1 { font-size: $font-size-h1 * 1.2; }
    h2, .h2 { font-size: $font-size-h2 * 1.2; }
    h3, .h3 { font-size: $font-size-h3 * 1.2; }
    h4, .h4 { font-size: $font-size-h4 * 1.2; }
    h5, .h5 { font-size: $font-size-h5 * 1.2; }
    h6, .h6 { font-size: $font-size-h6 * 1.2; }
}
@include media-breakpoint-up(lg) {
    h1, .h1 { font-size: $font-size-h1 * 1.4; }
    h2, .h2 { font-size: $font-size-h2 * 1.4; }
    h3, .h3 { font-size: $font-size-h3 * 1.4; }
    h4, .h4 { font-size: $font-size-h4 * 1.4; }
}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.page-component {
	padding: 3rem 0;

	@include media-breakpoint-up(md) { padding: 4rem 0; }

}

.btn {
	font-family: $font1-medium;
	text-transform: uppercase;

	&.btn-orange {
		color: #fff;
		background-color: $color2;

		&:hover {
			background-color: darken($color2, 10%);
		}

	}

	&.btn-round {
		border-radius: 50px;
	}

	&.btn-shadow {
		box-shadow: 0px 3px 5px rgba(0,0,0,.2);
	}

}

ul.special_list {
  margin: 1rem 0;
  padding: 0 0 0 20px;

  li {
    list-style: none;
    position: relative;
    margin: 0.6rem 0;

    &:before {
      content: "\f363";
      display: block;
      position: absolute;
      top: .2rem;
      left: -16px;
      font-size: 20px;
      line-height: 20px;
      color: $color4;
      font-family: $font-ion;
    }

  }

}

.slick-slider.slick-shadow {
  box-shadow: 9px 12px 30px rgba(0,0,0,.1);

  .card {
    box-shadow: none;
    margin: 0;
  }

}

.slick-slider ul.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    float: left;
    margin-left: 8px;
    line-height: 10px;

    button {
      width: 20px;
      height: 20px;
      padding: 0;
      border-radius: 100%;
      background-color: #ddd;
      border: none;
      text-indent: -9999px;
      outline: none;

      @include media-breakpoint-up(md) {
        width: 16px;
        height: 16px;
      }

    }

    &.slick-active button {
      background-color: #aaa;
    }

  }

}

.slick-slider .slick-arrow {
  position: absolute;
  bottom: -72px;
  z-index: 10;
  background-color: #ccc;
  cursor: pointer;
  width: 58px;
  height: 60px;
  transition: all .25s ease;

  &.slick-next { right: 0; }
  &.slick-prev { right: 66px; }

  &:hover {
    background-color: #aaa;
  }

  i {
    display: block;
    width: 58px;
    line-height: 60px;
    color: #fff;
    font-size: 3rem;
    text-align: center;
  }

}

.single-item-with-dots {

  .slick-track {
    padding-top: 2px; //To allow for hover effect
  }

  ul.slick-dots {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;

    @include media-breakpoint-up(sm) {
      bottom: 26px;
      right: 26px;
    }

  }

}

.single-item-with-nav-wrap {
  margin: 3rem 0;

  p.caption {
    color: #999;
    margin: .8rem 0 0 0;
    font-style: italic;
    padding: 0 110px 0 0;

    &:after {
      content: "";
      display: block;
      width: 60px;
      margin: 1rem 0 0 0;
      border-bottom: 1px solid #eee;
    }

  }

}

.three-items-with-dots {
  margin: 3rem 0 7rem 0;

  .slick-list {
    padding: 0 20px;
    margin: 0 -26px;
  }

  .slick-track {
    padding-top: 2px; //To allow for hover effect
  }

  .slick-slide {
    position: relativ;
    padding: 0 8px;
    opacity: 0;
    transform: scale(.9);
    transition: all .25s ease;

    &.slick-active {
      opacity: 1;
      transform: scale(1);
    }

    .card .card-block {
      padding-bottom: 5rem;
    }

  }

  ul.slick-dots {
    position: absolute;
    bottom: -1rem;
    left: 0px;
    right: 0px;
    z-index: 10;
    text-align: center;

    li {
      float: none;
      display: inline-block;
      margin: 0px 4px;
    }

  }

}

.rainbow_bar {
	position: absolute;

	left: 0;
	right: 0;

	&.rainbow_bar_bottom { bottom: 0; }
	&.rainbow_bar_top { top: 0; }

	span {
		display: block;
		width: 20%;
		height: 6px;
		float: left;

		&.yellow { background-color: $color2; }
		&.red { background-color: $color1; }
		&.green { background-color: $color4; }
		&.blue { background-color: $color3; }
    &.purple { background-color: darken($color5, 9%); }

	}

}

//Form alerts
.wpforms-confirmation-container-full {
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
	background-color: #dff0d8;
    border-color: #d0e9c6;

    p {
    	color: #3c763d;
    	text-align: center;
    }
}

.fancybox-bg {
  background-color: #4f4f4f;
}

//Media thumbnails
.media_thumb {
  margin: 1rem 0;
  //padding: 0 10px;

  a.media_thumb_link {
    display: block;
    position: relative;
    outline: none;
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 5px 18px rgba(0,0,0,.15);
    transition: all .25s ease;

    .media_thumb_runtime {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      z-index: 2;
      color: #fff;
      font-weight: bold;
      font-size: 15px;
      line-height: 28px;
      padding: 0 8px;
      background-color: #000;
      background-color: rgba(0,0,0,.3);
    }

    .media_thumb_icon {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(120,120,120,.2);
      transition: all .25s ease;

      i {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        font-size: 54px;
        margin: -55px 0 0 -55px;
        line-height: 110px;
        width: 110px;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        background: $color4;
        box-shadow: 0px 0px 24px rgba(0,0,0,.2);

        opacity: .5;
        transform: scale(1);
        transition: all .25s ease;
      }

    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0px 8px 24px rgba(0,0,0,.2);

      .media_thumb_icon {
        background-color: rgba(120,120,120,.1);
      }

      i {
        opacity: .8;

        &:hover {
          transform: scale(1.1);
        }

      }

    }

  } // a.video_thumb

  p.media_thumb_caption,
  .media_thumb_caption p {
    color: #888;
    margin: .8rem 0 0 0;
    font-style: italic;
    font-size: .9rem;

    &:after {
      content: "";
      display: block;
      width: 100px;
      margin: .8rem 0 0 0;
      border-bottom: 1px solid #ddd;
    }

  }

} // .media_thumb

// Responsive Video Embeds
.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
