//Site root
$root: "/wp-content/themes/regency360";

// Grid settings
$enable-flex:           false;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$color1: #E34338; //Red
$color2: #F5A346; //Dark Yellow
$color3: #1D6CA7; //Blue
$color4: #119FA1; //Teal
$color5: #A586C0; //Purple

$font-size-root: 13px;

$font1: "brandon_grotesque_regularRg", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font1-medium: "brandon_grotesquemedium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font1-bold: "brandon_grotesquebold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font2: "robotolight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-base: "robotolight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-ion: "Ionicons";