
main#site_main {
	position: relative;

	.post .entry-content {
		
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
			margin: 2rem 0 .4rem 0 ;
		}

		blockquote {
			font-family: $font1;
			text-align: center;
			font-size: 1.5rem;
			max-width: 620px;
			line-height: 1.4;
			margin: 0 auto;
		}

	}

	&.page-color-purple .post .entry-content {
		
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6,
		blockquote {
			color: $color5;
		}
			
	}

	&.page-color-red .post .entry-content {
		
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6,
		blockquote {
			color: $color1;
		}
			
	}

	&.page-color-orange .post .entry-content {
		
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6,
		blockquote {
			color: $color2;
		}
			
	}

	&.page-color-blue .post .entry-content {
		
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6,
		blockquote {
			color: $color3;
		}
			
	}

	&.page-color-green .post .entry-content {
		
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6,
		blockquote {
			color: $color4;
		}
			
	}

} // main#site_main


.post-categories-wrap {
	
	p.hash_tag {
		display: inline-block;
		font-family: $font1-medium;
		color: #888;
		font-size: .8rem;
		margin: 0;
	}

	ul.post-categories {
		display: inline-block;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			list-style: none;
			font-family: $font1-bold;
			margin: 0 .1rem 0 0;

			a {
				text-transform: uppercase;
				color: #444;
				font-size: .8rem;
			}

			&:after {
				content: ",";
			}

			&:last-child:after { content: none; }

		}

	}

} // .post-categories-wrap

.view_more_posts {
	padding: 2rem 0;
	margin: 3rem 0;
	border-top: 1px solid #eee;
	
	@include media-breakpoint-up(md) {
		margin: 6rem 0;
	}

	.headline {
		font-size: 1rem;	
		text-transform: uppercase;
		text-align: center;
		margin: 0 0 3rem 0;
	}

	.card {

		.card-block {
			text-align: center;
			padding: 1rem 1rem 5rem;

			@include media-breakpoint-up(md) {
				padding: 2rem 1.6rem 5rem 1.6rem;
			}

			.card-subtitle {
				color: #aaa;
				font-size: .8rem;
			}

			.card-title {
				font-size: 1rem;
			}

			.card-link {
				position: absolute;
				bottom: 1rem;
				left: 1.6rem;
				right: 1.6rem;

				&:hover {
					color: #fff;
					background-color: $color2;
				}

			}

		}

	}

} // .view_more_posts