.page-template-template-contact-php .main_page {
  padding: 3rem 0;

  @include media-breakpoint-up(md) { padding: 5rem 0; }

}

.contact_right_side_bar {
  padding-top: 2rem;
  padding-bottom: 3rem;

  @include media-breakpoint-up(md) {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  @include media-breakpoint-up(lg) { 
    padding-left: 3rem;
    padding-right: 0;
  }
  
  .contact-us & {
    padding-left: 2rem;
    padding-right: 2rem;
    background: #EAEDEE url('#{$root}/assets/images/contact-box-bg.png') no-repeat top left;
    background-size: cover;

    @include media-breakpoint-up(md) {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }

  }

  .contact-form-intro {
    position: relative;
    padding: 0 0 2rem 90px;

    .icon {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 70px;
      height: 70px;
      background: $color2 url('#{$root}/assets/images/icon-email.png') no-repeat center 45%;
      background-size: 55% auto;
      border-radius: 100%;
      box-shadow: 0px 4px 15px rgba(0,0,0,.1);
    }

    h6 {
      text-transform: uppercase;
      font-size: 1.1rem;
      margin: 0 0 .4rem 0;
    }

    p {
      font-size: .9rem;
      margin: 0;
    }

  }

} // .contact_right_side_bar