.footer_contact_box {
	position: relative;
	z-index: 11;
	padding: 3rem 0 2rem 0;
	background: #849095 url('#{$root}/assets/images/contact-box-bg.png') no-repeat top right;
	background-size: auto 100%;
	
	.footer_contact_box_text {
		margin: .4rem 0 2rem 0;
		
		.icon {
			display: block;
			width: 80px;
			height: 80px;
			background: $color2 url('#{$root}/assets/images/icon-email.png') no-repeat center 45%;
			background-size: 55% auto;
			border-radius: 100%;
			box-shadow: 0px 4px 15px rgba(0,0,0,.1);
		}
		
		.header {
			margin: 1.2rem 0 .6rem 0;
			color: #fff;
			font-family: $font1;
			font-size: 1.9rem;
		}
		
		p {
			color: #fff;	
			line-height: 1.8;
		}
		
	}
	
} // .footer_contact_box

footer.footer_main {
	position: relative;
	z-index: 2;
	float: none;
	padding: 3rem 0 1rem 0;
	
	@include media-breakpoint-up(md) { padding: 4rem 0 1rem 0; }
	
	.contact_details {
		font-size: .9rem;
		color: #999;
		
		.contact_details_logo {
			width: 100%;
			height: auto;
			max-width: 180px;
			margin: 0 0 1.1rem 0;
		}
	
	}
	
	.footer_nav {
		//width: 50%;
		//float: left;
		padding: 0 1rem 2rem 0;
		
		@include media-breakpoint-up(sm) { 
			//float: left;
			//width: 33.333333%;
		}
		
		.nav_header {
			font-size: .9rem;
			color: $color2;
			font-family: $font1;
			text-transform: uppercase;
			margin: 0 0 .6rem 0;
		}
		
		ul.nav li {
			padding: .1rem 0;
			
			a {
				display: inline-block;
				font-size: .85rem;
				line-height: 1.4;
				color: #999;
			}
			
		}
		
	}
	
	.footer_copyright {
		font-size: .7rem;
		color: #bbb;
		padding: .8rem 0 0 0;
		margin: 1rem 0 0 0;
		border-top: 1px solid #ddd;
		
		@include media-breakpoint-up(sm) { margin: 3rem 0 0 0; }
		
	}
	
}