
header.header_main {
	position: fixed;
	top: -1px;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 70px;
	padding: 0;
	min-height: 0px; //Needed to overwrite css from grid
	background: rgba(255,255,255,.5) url('#{$root}/assets/images/header-bg.png') no-repeat left top;
	background-size: cover;
	box-shadow: 0px 4px 34px rgba(0, 0, 0, .2);
	transition: left .5s ease,
							top .5s ease;

	@include media-breakpoint-up(md) { height: 100px; }

	.page-template-template-home & {
		position: absolute;
		background-image: none;
		background-color: transparent;
		box-shadow: none;
	}

	.header_logo {
		position: absolute;
		top: 18px;
		z-index: 1000;
		display: block;
		width: 130px;
		height: 46px;
		text-indent: -9999px;
		background: url('/wp-content/uploads/2017/01/regency360-logo-white.png') no-repeat left top;
		background-size: contain;

		.svg & {
			background: url('../images/regency360-logo-white.svg') no-repeat left top;
			background-size: contain;
		}

		@include media-breakpoint-up(md) {
			left: 30px;
			top: 25px;
			width: 170px;
			height: 46px;
		}

		@include media-breakpoint-up(xl) { left: 36px; }

	}

	.nav_main_toggle {
	    position: fixed;
	    top: 12px;
	    right: 14px;
	    z-index: 300;
	    width: 64px;
	    height: 44px;
	    display: block;
	    cursor: pointer;
	    -webkit-tap-highlight-color: transparent !important;

	    @include media-breakpoint-up(md) {
	    	position: absolute;
	    	top: 25px;
	    	right: 20px;
	    }

	    @include media-breakpoint-up(xl) { right: 30px; }

	    .open-project & {
	    	display: none;
	    }

	    @media (min-width: 740px) {
	    	//display: none;
	    }

	    .main_toggle_text {
    	    position: absolute;
    	    top: 0;
    	    left: -50px;
    	    width: 50px;
    	    text-align: right;
    	    line-height: 44px;
    	    font-family: $font1;
    	    font-size: .8rem;
    	    z-index: 100;
    	    color: #fff;
    	    color: rgba(255, 255, 255, .7);
    	    opacity: 1;
    	    transition: all .25s ease;
	    }

	    &:hover .main_toggle_text { color: rgba(255, 255, 255, .9); }

	    &.active {
				top: 22px;
    		right: 1.2rem;

				.main_toggle_text {
		    	opacity: 0;
		    	left: 0px;
		    }

	    }

	    .main_toggle_lines {

		    span.line {
		        display: block;
		        height: 4px;
		        position: absolute;
		        left: 14px;
		        opacity: 1;
		        background-color: #fff;
		        transition: all .25s ease;

		        &.top { top: 10px; width: 40px; }
		        &.mid { top: 19px; width: 24px; }
		        &.bottom { top: 28px; width: 32px; }

		    }

		}

		&.active .main_toggle_lines span.line.mid {
			opacity: 0;
		}

		&.active .main_toggle_lines span.line.top {
			left: 16px;
			top: 18px;
			width: 36px;
			transform: rotate(-135deg);
		}

		&.active .main_toggle_lines span.line.bottom {
			left: 16px;
			top: 18px;
			width: 36px;
			transform: rotate(135deg);
		}

		&:hover .main_toggle_lines {
			span.top,
			span.mid,
			span.bottom { width: 40px; }
		}

	}

}

body.page-template-template-home .header_logo { pointer-events: none; }
