.page-template-template-home {
  .homepage_header_boxes {
    padding: 0;
    background-color: #8f9aa0;

    .homepage_header_box {
      position: relative;
      float: left;
      width: 100%;
      height: 220px;
      //height set with inner element
      overflow: hidden;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      background: #525f65;
      background: -moz-linear-gradient(-45deg, #adb8bd 0%, #525f65 100%);
      background: -webkit-linear-gradient(-45deg, #adb8bd 0%, #525f65 100%);
      background: linear-gradient(135deg, #adb8bd 0%, #525f65 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(
          startColorstr='#adb8bd',
          endColorstr='#525f65',
          GradientType=1
        );
      transition: box-shadow 1s ease;

      @media (min-width: 479px) {
        width: 50%;
        height: 33.33333333333vh !important;
      }

      @media (min-width: 900px) {
        width: 33.33333333333%;
        height: 50vh !important;

        @media (max-height: 600px) {
          height: 70vh !important;
        }
      }

      .bg-color {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        opacity: 0;
        transform: scale(0);
        border-radius: 50%;
        transition: all .15s linear;
      }

      img {
        position: relative; //For adjusting img to center
        z-index: 2;
        height: 100%;
        width: auto;
        min-height: 100%;
        opacity: .25;
        transform: scale(1);
        transition: transform 1s ease;

        @media (min-width: 900px) {
          height: 50vh;
        }

        &.stretch_img_horiz {
          width: 100%;
          height: auto;
        }

        .touch & {
          opacity: .1;
        }
      }

      a.box_link {
        display: block;
        width: 100%;
        height: 100%;
      }

      .header_box_text {
        display: table;
        width: 100%;
        height: 220px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        text-align: center;

        @media (min-width: 479px) {
          height: 33.33333333333vh;
        }

        @media (min-width: 900px) {
          height: 50vh;
        }

        .inner_cell {
          display: table-cell;
          vertical-align: middle;
          width: 100%;
          padding: 0 1rem;

          @include media-breakpoint-up(lg) {
            padding: 0 3rem;
          }

          .headline {
            opacity: 0;
            margin: 0;
            font-size: 1.4rem;
            line-height: 1.3;
            color: #fff;
            text-transform: uppercase;
            animation-duration: .75s;
            animation-delay: 0;
            animation-fill-mode: both;

            @media (min-width: 330px) {
              font-size: 1.5rem;
            }
            @include media-breakpoint-up(md) {
              font-size: 1.6rem;
            }
            @include media-breakpoint-up(lg) {
              font-size: 2rem;
            }
          }

          .subheadline {
            position: relative;
            color: #fff;
            opacity: 0;
            text-transform: uppercase;
            display: inline-block;
            margin: 0;
            font-size: .95rem;
            letter-spacing: .35rem;
            font-family: $font1;
            animation-duration: 1.25s;
            animation-fill-mode: both;

            i {
              position: absolute;
              top: .1rem;
              right: -18px;
              font-size: .9rem;
              color: #fff;
              color: rgba(255, 255, 255, .5);
            }
          }
        }

        //Touch screen devices
        .touch & {
          .headline {
            opacity: 1 !important;
          }
          .subheadline {
            opacity: 1 !important;
          }
        }
      } // .header_box_text

      &.custom_message {
        text-align: center;
        padding: 2rem 3rem;
        height: auto;
        //padding: 0 2.4rem 0 1.6rem;

        @media (min-width: 360px) {
          padding: 2rem 5rem;
        }

        @media (min-width: 479px) {
          height: 33.33333333333vh;
          text-align: left;
          padding: 0 2.6rem 0 1.6rem;
        }
        @include media-breakpoint-up(md) {
          padding: 0 3.6rem 0 2.6rem;
        }
        @include media-breakpoint-up(xl) {
          padding: 0 4.6rem 0 3.6rem;
        }

        .arrow_link {
          position: absolute;
          right: 0;
          top: 0;
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          height: 100%;
          width: 22px;
          background-color: rgba(0, 0, 0, .1);
          //@include linearGradient(rgba(0,0,0,.05), rgba(0,0,0,.1));
          transition: all .25s ease;

          @include media-breakpoint-up(md) {
            width: 38px;
          }

          i {
            color: #fff;
            font-size: 1.8rem;
            line-height: 40px;
            position: relative;
            top: 37.5%;

            @media (min-width: 479px) {
              top: 44.5%;
            }

            @include media-breakpoint-up(md) {
              font-size: 2.4rem;
            }
          }
        }

        &:hover .arrow_link {
          background-color: rgba(0, 0, 0, .2);
          //@include linearGradient(rgba(0,0,0,.15), rgba(0,0,0,.2));

          @include media-breakpoint-up(md) {
            width: 42px;
          }
        }

        a {
          color: #fff;
          text-decoration: none !important;
        }

        .custom_message_inner {
          display: table;
          width: 100%;
          height: 100%;

          .custom_message_inner_cell {
            display: table-cell;
            vertical-align: middle;

            .heading {
              margin: 0 0 .6rem 0;
              font-size: 1.4rem;
              color: #fff;
              text-transform: uppercase;
              line-height: 1.4;

              @media (min-width: 479px) {
                max-width: 300px;
              }

              @media (min-width: 330px) {
                font-size: 1.6rem;
              }
              @include media-breakpoint-up(md) {
                font-size: 2rem;
                margin: 0;
              }
              @include media-breakpoint-up(xl) {
                font-size: 2.4rem;
              }
            }

            hr {
              display: none;
              margin: 1rem 0;
              width: 60px;
              border-top-color: #fff;

              @include media-breakpoint-up(md) {
                display: inline-block;
                margin: 1.2rem 0;
              }
              @include media-breakpoint-up(lg) {
                margin: 1.4rem 0;
              }
            }

            .text p {
              color: #fff;
              font-size: .9rem;
              margin: 0;

              @media (min-width: 479px) {
                max-width: 300px;
              }

              @include media-breakpoint-up(md) {
                font-size: 1.1rem;
              }
            }
          }
        }
      } // .custom_message

      //Non touch screen devices
      .no-touch & {
        &:hover {
          z-index: 10;
          box-shadow: 0 25px 70px rgba(0, 0, 0, .4);

          .headline {
            animation-name: fadeInUpSm;
          }

          .subheadline {
            animation-name: fadeInDownSm;
          }

          img {
            transform: scale(1.2);
            transition: transform 5s linear;
          }

          .bg-color {
            opacity: 1;
            transform: scale(2);
            transition: all .5s cubic-bezier(0.13, 0.4, 0.57, 0.94);
          }

          &:nth-of-type(1) .bg-color {
            background: $color1;
          }
          &:nth-of-type(2) .bg-color {
            background: $color2;
          }
          &:nth-of-type(3) .bg-color {
            background: $color3;
          }
          &:nth-of-type(4) .bg-color {
            background: $color4;
          }
          &:nth-of-type(5) .bg-color {
            background: $color5;
          }
        }
      }
    } // .homepage_header_box
  } // .homepage_header_boxes

  .homepage_company_stores {
    padding: 0;

    .screens_header {
      padding: 3rem 0 1rem 0;
      text-align: center;
      background: #f5f9f8
        url('#{$root}/assets/images/company-stores-bg-top.jpg') no-repeat center
        bottom;
      background-size: 165% auto;

      @include media-breakpoint-up(md) {
        padding-top: 5rem;
        background-size: 130% auto;
      }

      h2 {
        text-transform: uppercase;
        margin: 0 auto;
        line-height: 1.25;
        max-width: 700px;
      }

      hr {
        border-top-color: #aaa;
        width: 80px;
        margin: .8rem auto 1.2rem;
      }

      div.text p {
        margin: 0 auto;
        width: 90%;
        max-width: 560px;
        font-size: 1.2rem;
        line-height: 1.6;
      }
    }

    .screens_carousels {
      position: relative;
      margin: 0 0 1rem 0;
      pointer-events: none;
      padding-bottom: 59%;
      background: #fff
        url('#{$root}/assets/images/company-stores-bg-bottom.jpg') no-repeat
        center top;
      background-size: 165% auto;

      @include media-breakpoint-up(md) {
        background-size: 130% auto;
        padding-bottom: 46%;
      }

      .screens_computer {
        position: absolute;
        top: 8%;
        left: 21%;
        width: 59.6%;
        box-shadow: 0 0 16px #717171;

        @include media-breakpoint-up(md) {
          top: 8%;
          left: 27.2%;
          width: 47%;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      .screens_phone {
        position: absolute;
        top: 34.6%;
        left: 66%;
        width: 14%;

        @include media-breakpoint-up(sm) {
          top: 43.8%;
          left: 67.5%;
          width: 10.8%;
        }

        @include media-breakpoint-up(md) {
          top: 41.8%;
          left: 63.5%;
          width: 9.2%;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .company_stores_features {
      background: #fff;
      padding-bottom: 5rem;

      @include media-breakpoint-up(md) {
        padding-bottom: 6rem;
      }

      a.features_item {
        position: relative;
        display: block;
        width: 100%;
        float: left;
        text-decoration: none !important;
        padding: 1rem 3rem;
        text-align: center;
        border-radius: 8px;
        background-color: #fff;
        transition: all .25s ease;

        @include media-breakpoint-up(sm) {
          width: 50%;
          padding: 1.5rem;
        }

        @include media-breakpoint-up(md) {
          width: 25%;
          padding: 1.5rem 1rem;
        }

        .icon {
          width: 80px;
          height: 80px;
          margin: 0 auto 1.4rem;
          border-radius: 50%;
          background-color: #ddd;
          border: 22px solid transparent;
          background-repeat: no-repeat;
          background-position: center center;

          @include media-breakpoint-up(lg) {
            width: 100px;
            height: 100px;
          }
        }

        .header {
          margin: 0 0 .6rem 0;
          line-height: 1.3;
        }

        .text p {
          color: #aaa;
          max-width: 240px;
          margin: 0 auto 1rem;

          @include media-breakpoint-up(md) {
            font-size: .9rem;
          }
        }

        p.link {
          margin: 0;
          font-size: .75rem;
          text-transform: uppercase;
          letter-spacing: .05rem;
          font-family: $font1-medium;
          transition: color .5s ease;

          i {
            font-size: .85rem;
            color: #ddd;
            margin: 0 0 0 .3rem;
          }
        }

        //Default color for p.link when not hovering
        &:not(:hover) p.link {
          color: #ccc !important;
        }
      }

      .no-touch & a.features_item:hover {
        z-index: 10;
        box-shadow: 0px 3px 20px #ccc;
        transform: translateY(-4px);
        transition: all .75s ease;
      }
    }
  } // .homepage_company_stores

  .homepage_regency_innovations {
    position: relative;
    padding: 4rem 0;
    background-color: #eee;

    .header-box {
      position: absolute;
      top: -20px;
      left: 0;
      display: block;
      width: 100%;
      text-align: center;

      @include media-breakpoint-up(md) {
        top: -25px;
      }

      .headline {
        display: inline-block;
        line-height: 40px;
        padding: 0 1.4rem;
        text-transform: uppercase;
        font-family: $font1;
        color: #fff;
        background-color: $color3;

        span {
          font-family: $font1-bold;
        }

        @include media-breakpoint-up(md) {
          line-height: 50px;
          padding: 0 2rem;
        }
      }
    }

    .slick-slider {
      overflow: hidden; //Removes line from right side
      margin-bottom: 2rem;
      background-color: transparent;

      .slick-slide {
        &:hover .card-link i {
          left: 3px !important;
          opacity: 1 !important;
        }
      }
    } // .slick-slider

    .regency_innovations_news {
      margin-left: -8px;
      margin-right: -8px;

      .regency_innovations_news_item {
        padding-left: 8px;
        padding-right: 8px;

        @include media-breakpoint-up(md) {
          float: left;
          width: 33.3333333%;
        }

        &:nth-of-type(1) .card {
          border-top-color: $color2;
        }
        &:nth-of-type(2) .card {
          border-top-color: $color1;
        }
        &:nth-of-type(3) .card {
          border-top-color: $color3;
        }
      }
    } // .regency_innovations_news
  } // .homepage_regency_innovations
}

//Social media wall
.social_board_main > div {
  padding: 2rem 0 !important;
  background: transparent !important;
  border: none !important;

  .sboard .sb-item .sb-container {
    border: none !important;
    border-radius: 0px;
    box-shadow: 9px 12px 30px rgba(0, 0, 0, .1);
  }

  .sboard .sb-item .sb-thumb img {
    border-radius: 0px;
  }
}
