.page-template-template-login {

  .footer_contact_box {
    display: none;
  }

  #site_main.no-subheader {
    position: relative;
    z-index: 1;
    width: 100%;
    background: #aeb9be;
    background: -moz-linear-gradient(-45deg,  #aeb9be 0%, #515e64 100%);
    background: -webkit-linear-gradient(-45deg,  #aeb9be 0%,#515e64 100%);
    background: linear-gradient(135deg,  #aeb9be 0%,#515e64 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeb9be', endColorstr='#515e64',GradientType=1 );

    .login-page__image {
      opacity: .3;
      z-index: 1;
      filter: grayscale(100%);
      background-position: center center;
      background-size: cover;
    }

    > .row > [class*="col"] {
      padding: 100px 0 4rem 0;
    }

  }

}