
nav.nav_right_side_bar {
  display: none;
  padding-top: 5rem;
  padding-bottom: 2rem;

  @include media-breakpoint-up(md) { display: block; }

  h6.nav_right_side_bar__header {
    font-size: .8rem;
    text-transform: uppercase;
    color: #a2a2a2;
    margin: 0;
    letter-spacing: .1rem;
  }

  .nav_right_side_bar_inner {
    width: 100%;
    transition: opacity .25s ease;
  }
  
  ul.nav {
    background-color: #fff;
    background-color: rgba(255,255,255,.8);
    padding: .9rem 1.6rem;
    margin: 1rem 0 0 0;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    
    li {
      padding: .7rem 0;

      a {
        display: block;  
        color: #ccc;
        text-decoration: none;
        font-family: $font1-bold;
        font-size: 1.1rem;

        &:hover {
          color: #999;   
        }

      }

      &.active a {
        color: $color4 !important;
      }

    }

  }

}