body.contact-us .footer_contact_box {
  display: none;
}

main#site_main {
  &.support_page {
    padding: 4rem 0;
  }

  .page_content {
    margin: 0 auto 3rem;
    max-width: 700px;
  }

  .page_content:empty {
    margin: 0;
  }

  h5 {
    font-family: $font1-medium;
  }

  .list_head {
    margin: 2rem 0 0 0;
    text-transform: uppercase;
    color: #999;
    font-family: $font1-medium;
  }
} // main#site_main

.subpage_header {
  position: relative;
  z-index: 3;
  display: table;
  width: 100%;
  background-color: #aaa;

  .subpage_header_inner {
    position: relative;
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
    height: 20rem;
    padding-top: 4rem;
    text-align: center;
    width: 100%;
    background: #aeb9be;
    background: -moz-linear-gradient(-45deg, #aeb9be 0%, #515e64 100%);
    background: -webkit-linear-gradient(-45deg, #aeb9be 0%, #515e64 100%);
    background: linear-gradient(135deg, #aeb9be 0%, #515e64 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#aeb9be',
        endColorstr='#515e64',
        GradientType=1
      );

    @include media-breakpoint-up(md) {
      height: 26rem;
      padding-top: 5rem;
    }

    .page-template-template-subpage-second-level & {
      height: 20rem;
      padding-top: 4rem;

      @include media-breakpoint-up(md) {
        height: 26rem;
        padding-top: 5rem;
      }
    }

    * {
      position: relative;
      z-index: 2;
    }

    > .container {
      padding-left: 15px;
      padding-right: 15px;

      @include media-breakpoint-up(md) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    .subpage_header_image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .3;
      z-index: 1;
      filter: grayscale(100%);
      background-position: center center;
      background-size: cover;
    }

    .subpage_header_title h3 {
      text-transform: uppercase;
      font-family: $font1-medium;
      font-size: 1rem;
      color: #fff;
      letter-spacing: 2px;
    }

    .subpage_header_subtitle {
      text-transform: uppercase;
      font-family: $font1-medium;
      color: #fff;
      letter-spacing: .2rem;
      padding: 0 1rem;
    }

    .subpage_header_text {
      color: #fff;
      margin: 0 auto;
      padding: 0 2rem;
      max-width: 700px;
    }

    .page-header h1 {
      color: #fff;
      line-height: 1.4;
      max-width: 800px;
      margin: 0 auto .4rem;
    }

    p {
      color: #fff;
    }

    .subpage_header_meta {
      color: #fff;

      time,
      p,
      a {
        display: inline-block;
        font-family: $font1-medium;
        text-transform: uppercase;
        font-size: .9rem;
        color: rgba(255, 255, 255, .6);
      }
    }

    .search-form-box {
      .screen-reader-text {
        display: none;
      }

      input[type="search"].search-field {
        width: 300px;
        opacity: 1;
        padding: 0 4px 0 46px !important;
        cursor: text;
        color: rgba(255, 255, 255, .8);
        background-color: transparent;
        border-bottom-color: #ccc;

        &::placeholder {
          color: #fff;
          color: rgba(255, 255, 255, .4);
        }
      }

      .search-submit {
        right: auto;
        left: 0;
        background: transparent
          url('#{$root}/assets/images/icon-search-white.png') no-repeat center
          center;
        background-size: 24px auto;
      }
    }
  }

  .rainbow_bar {
    z-index: 2;
  }
} // .subpage_header

nav.tabbed_nav {
  position: relative;
  margin: 0 0 2rem 0;

  @include media-breakpoint-up(md) {
    margin: 0 0 3rem 0;
  }

  ul {
    text-align: center;
    border-bottom: 1px solid #eee;
    margin: 0 -15px;

    @include media-breakpoint-up(sm) {
      margin: 0;
    }

    li {
      display: inline-block;

      a {
        display: block;
        line-height: 60px;
        padding: 0 .5rem;
        color: #999;
        font-size: 1.05rem;
        text-decoration: none;
        font-family: $font1;
        border-bottom: 4px solid transparent;

        @include media-breakpoint-up(sm) {
          padding: 0 1rem;
        }

        &:hover {
          background-color: #eee;
          border-bottom-color: #ddd;
        }
      }

      &.active a {
        color: #444;
        background-color: transparent;
        border-bottom-color: $color2;
      }
    }
  }
} // .tabbed_nav

.main_page {
  padding: 7rem 0;

  @include media-breakpoint-up(lg) {
    padding-right: 2rem;
  }
} //.main_page

.callout_box_block {
  position: relative;
  margin: 3rem 0 2rem 0;
  background-color: #eee;

  .callout_box_block_image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }

  .callout_box_block_inner {
    position: relative;
    z-index: 2;
    width: 55%;
    padding: 2.4rem 2rem;
    min-height: 240px;

    .header {
      color: #fff;
      font-family: $font1-medium;
      line-height: 1.3;
      text-transform: uppercase;
    }

    p.text {
      color: #fff;
      line-height: 1.7;
      font-style: italic;
    }

    a.link.btn {
      display: inline-block;
      margin: .6rem 0 0 0;
      padding: .6rem 3rem;
    }
  }

  &.callout_box_right .callout_box_block_inner {
    float: right;
  }
  &.callout_box_left .callout_box_block_inner {
    float: left;
  }
}

.quote_box_block {
  margin: 3rem auto;
  text-align: center;
  max-width: 600px;

  .quote_box_quote {
    font-family: $font1-medium;
    color: $color2;
    line-height: 1.4;
    margin: 0 0 1rem 0 !important;
  }

  p.author {
    text-transform: uppercase;
    font-size: .8rem;
    color: #999;
    font-family: $font1-medium;
  }
} // .quote_box_quote

.view_more_posts {
  margin-left: -8px;
  margin-right: -8px;

  .view_more_posts_item {
    padding-left: 8px;
    padding-right: 8px;

    @media (min-width: 600px) {
      float: left;
      width: 33.3333333%;
    }

    &:nth-of-type(1) .card {
      border-top-color: $color2;
    }
    &:nth-of-type(2) .card {
      border-top-color: $color1;
    }
    &:nth-of-type(3) .card {
      border-top-color: $color3;
    }
  }
} // .view_more_posts

.fact_boxes_block {
  margin: 2rem -4px 2.4rem -4px;

  @include media-breakpoint-up(md) {
    margin: 4rem -4px 2.4rem -4px;
  }

  .fact_box {
    position: relative;
    margin-top: 24px;
    width: 100%;
    padding: 50px 5px 15px 5px;
    text-align: center;
    background-color: #ddd;
    border: 4px solid #fff;

    @include media-breakpoint-up(sm) {
      float: left;
      width: 33.33333%;
      margin-top: 50px;
      padding: 60px 5px 15px 5px;
    }

    .fact_box_icon {
      position: absolute;
      top: -38px;
      left: 50%;
      display: inline-block;
      width: 76px;
      line-height: 76px;
      margin-left: -38px;
      font-size: 50px;
      border-radius: 100%;
      text-align: center;
      background-color: #fff;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
    }

    .fact_box_headline {
      color: #fff;
      margin: 0;
      text-transform: uppercase;
      font-family: $font1-medium;
    }
  }

  .page-color-purple & {
    .fact_box {
      background-color: $color5;
    }
    .fact_box_icon {
      color: $color5;
    }
  }

  .page-color-red & {
    .fact_box {
      background-color: $color1;
    }
    .fact_box_icon {
      color: $color1;
    }
  }

  .page-color-orange & {
    .fact_box {
      background-color: $color2;
    }
    .fact_box_icon {
      color: $color2;
    }
  }

  .page-color-blue & {
    .fact_box {
      background-color: $color3;
    }
    .fact_box_icon {
      color: $color3;
    }
  }

  .page-color-green & {
    .fact_box {
      background-color: $color4;
    }
    .fact_box_icon {
      color: $color4;
    }
  }
}

.floated_callout_box {
  @include media-breakpoint-up(sm) {
    &.float-right {
      float: right;
      width: 45%;
      margin: .4rem 0 2rem 2rem;
    }

    &.float-left {
      float: left;
      width: 45%;
      margin: .4rem 2rem 2rem 0;
    }
  }

  @include media-breakpoint-only(md) {
    &.float-right,
    &.float-left {
      width: 55%;
    }
  }

  .card.card-vertical {
    border-top: 5px solid $color2;

    .card-block {
      padding: 1.4rem 1.4rem 6rem 1.4rem;

      @include media-breakpoint-up(md) {
        padding: 2rem 2rem 6rem 2rem;
      }

      .card-title {
        margin: 0 0 .4rem 0 !important;
      }
    }
  }
} // .floated_callout_box

.insert_image_block {
  margin: 2.6rem 0;

  img {
    width: 100%;
  }

  &.media_thumb {
    padding: 0;
  }

  p {
    font-size: .9rem;
    font-style: italic;
    margin: .6rem 0 1rem 0;

    &:empty {
      display: none;
    }
  }

  hr {
    border-top: 1px solid #ddd;
    width: 50px;
    margin: 0;
  }
} // .insert_image_block

.photo-carousel {
  margin: 2.6rem 0;

  .single-item-with-nav {
    box-shadow: 9px 12px 30px rgba(0, 0, 0, .1);

    .slick-slide {
      box-shadow: inset 0px 0px 120px #000; //For images with white background

      .picture {
        opacity: .95; //For images with white background
        padding-bottom: 70%;
        background-size: cover;
        background-position: center center;
      }
    }

    .slick-arrow {
      bottom: 0;
      line-height: 48px;
      height: 48px;
      width: 48px;
      background-color: rgba(0, 0, 0, .6);
      box-shadow: 0px 6px 15px rgba(0, 0, 0, .1);

      i {
        width: auto;
        height: 48px;
        line-height: 48px;
        font-size: 2rem;
      }

      &:hover {
        background-color: rgba(0, 0, 0, .7);
      }
      &:active {
        transform: translateY(2px);
        box-shadow: none;
      }

      &.slick-next {
        right: 0;
      }
      &.slick-prev {
        right: 50px;
      }
    }
  }

  .caption p {
    font-size: .9rem;
    font-style: italic;
    margin: .6rem 0 1rem;
  }

  hr {
    border-top: 1px solid #ddd;
    width: 50px;
    margin: 0;
  }
}

.social-sharing {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;

  p.social_header {
    font-family: $font1;
    font-size: .85rem;
    color: #aaa;
    text-transform: uppercase;
    margin: 0 0 .6rem 0;
  }

  ul {
    display: inline-block;
    margin: 0 auto;
    width: auto;

    li {
      float: left;

      a {
        display: block;
        width: 54px;
        line-height: 32px;
        color: #fff;
        font-size: 20px;
        outline: none;
        background-color: #ddd;
        transform: translateY(0);
        transition: all .25s ease;
      }

      &.facebook a {
        background-color: #365c98;
      }
      &.twitter a {
        background-color: #00aeee;
      }
      &.linkedin a {
        background-color: #007db6;
      }
      &.google a {
        background-color: #e44b35;
      }

      &:hover a {
        transform: translateY(-3px);
      }
      &:active a,
      &:focus a {
        transform: translateY(0);
        transition: none;
      }
    }
  }
}

.nc_socialPanel .nc_tweetContainer a.nc_tweet {
  color: #fff;
}

.nc_wrapper.floatBottom {
  transition: bottom .25s ease; 
  box-shadow: 0 0px 23px rgba(0, 0, 0, .1);
}

.video_boxes_wrap {
  //margin: 3rem -10px;
  margin: 3rem 0;
} // .video_boxes_wrap

.video_boxes--single {
  margin: 2rem 0;

  //Single videos in full width layouts
  .col-xs-12 & {
    @include media-breakpoint-down(lg) {
      width: 100%;
      padding: 0;
    }

    @include media-breakpoint-up(xl) {
      float: right;
      margin: .6rem 0 1.6rem 1.6rem;
    }

    .media_thumb {
      margin: 0;
    }
  }

  //Single videos in NON full width layouts
  .col-md-7 & {
    width: 100%;
    padding: 0;
  }
}

.video_full_width_wrap {
  margin: 3rem 0;

  .caption p {
    font-size: .9rem;
    font-style: italic;
    margin: .6rem 0 1rem;
  }

  hr {
    border-top: 1px solid #ddd;
    width: 50px;
    margin: 0;
  }
}

.logos-group {
  padding: 2rem 0;
  margin-left: -1.2rem;
  margin-right: -1.2rem;

  .logo {
    display: inline-block;
    width: 32.33333%;
    padding: 1.2rem 1.6rem;
    vertical-align: middle;

    @include media-breakpoint-up(md) {
      width: 24%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  ul.slick-dots {
    width: 100%;
    text-align: center;
    display: none !important;

    @include media-breakpoint-up(sm) {
      display: block !important;
    }

    li {
      display: inline-block;
      float: none;
    }
  }
} // .logos-group

.floated_callout_box {
  margin: 3rem 0;
}
