.page-template-template-subpage-second-level {
	
	.subpage_header_inner {
		text-align: left;
		height: 330px;
		padding-top: 80px;
		
		.page-header h1 {
			margin: 0 0 .4rem 0;
			font-size: 2rem;
			text-transform: uppercase;

			@include media-breakpoint-up(md) { font-size: 2.6rem; }

		}

		div.subpage_header_text {
			margin: 0;
			padding: 0;
			max-width: 430px;

			p {
				font-size: 1.05rem;
	    	line-height: 1.7;
				margin: 0;
				padding: 0;
			}

		}

	}

	main#site_main {
		background-color: #eee;

		.main_page {
			margin: 0 -15px;
			padding: 0;
			background-color: #fff;
			box-shadow: 0px 10px 25px rgba(0,0,0,.1);
			
			@include media-breakpoint-up(sm) {
				margin: 1.6rem 0 0 0;
			}

		}
		
		.single-item-with-nav-wrap {
			position: relative;
			box-shadow: 0px 6px 25px rgba(0,0,0,.1);

			@include media-breakpoint-down(md) { margin-top: 0; }

			.page-header {
				position: absolute;
				bottom: -28px;
				left: .8rem;
				z-index: 10;
				background-color: $color4;
				box-shadow: 0px 6px 15px rgba(0,0,0,.1);

				@include media-breakpoint-up(md) { 
					left: 2rem;
					width: auto;
				}

				h1 {
					padding: .6rem 1rem .6rem 1rem;
					color: #fff;
					font-size: 1.6rem;
					line-height: 1.4;
					text-transform: uppercase;
					margin: 0;

					@include media-breakpoint-up(md) { 
						font-size: 2.2rem;
						line-height: 52px;
						padding: 4px 1.8rem 0 1.8rem;
					}

				}

			}

			.slick-slider {
				
				.slick-slide {
					height: 200px;
					background-size: cover;
					background-position: center center;
					
					@include media-breakpoint-up(sm) { height: 250px; }
					@include media-breakpoint-up(md) { height: 300px; }
					@include media-breakpoint-up(lg) { height: 380px; }

				}

				.slick-arrow {
					top: 0;
					line-height: 58px;
					width: 60px;
					background-color: rgba(0,0,0,.6);
					box-shadow: 0px 6px 15px rgba(0,0,0,.1);

					@include media-breakpoint-up(md) { top: auto; bottom: -29px; }
					
					&:hover { background-color: rgba(0,0,0,.7); }
					&:active {
						transform: translateY(2px);
						box-shadow: none;
					}

					&.slick-next { 
						right: 0;
							
						@include media-breakpoint-up(md) { right: 2rem; } 

					}
					&.slick-prev { 
						right: 63px;	
					
						@include media-breakpoint-up(md) { right: calc(2rem + 63px); }

					}

				}

			}

		}
		
		//Main Content area below image slider
		.main_content {
			padding: 1rem 1.5rem 4rem 1.5rem;

			@include media-breakpoint-up(md) { padding: 2rem 3rem 6rem 3rem; }
			
			h1,
			h2,
			h3,
			h4,
			h5 {
				font-family: $font1-bold;
				margin: 1.6rem 0 .3rem 0;
			}

			.list_head {
				margin: 0;
			}

			.bullet_list_sidebar {
				margin: 2rem 0 0 0;
				
				@include media-breakpoint-down(lg) {
					background-color: #fff;
					box-shadow: 0 10px 25px rgba(0,0,0,.1);
				}

				h6 {
					font-family: $font1-medium;
					font-size: .9rem;
					color: #aaa;
					text-transform: uppercase;
					
					@include media-breakpoint-down(lg) {
						padding: .3rem 1rem;
						color: #fff;
						background-color: $color4;
					}

				}

				ul {
				  padding: 1rem 1.4rem 2rem 3rem;

				  @include media-breakpoint-up(xl) {
						padding: 5px 0 0 20px;
				  }

				  li {
				    list-style: none;
				    position: relative;
				    margin: 0.6rem 0;

				    &:before {
				      content: "\f363";
				      display: block;
				      position: absolute;
				      top: .2rem;
				      left: -16px;
				      font-size: 20px;
				      line-height: 20px;
				      color: $color4;
				      font-family: $font-ion;
				    }

				  }

				}

			}

			.photo_box {
				margin: 2.4rem 0;

				a.photo_box_image {
					display: block;
					padding-bottom: 55%;
					background-position: center center;
					background-size: cover;
					box-shadow: 9px 12px 30px rgba(0,0,0,.1);
				}

				.photo_box_caption {
					margin: 0 0 1.4rem 0;

					p {
						padding: .8rem 0;
						margin: 0;
						font-size: .8rem;
						font-style: italic;
						
					}

					hr {
						margin: 0;
						width: 80px;
						border-top: 1px solid #ddd;
					}

				}

			} // .photo_box

		}

	} // main#site_main	

}