.page-template-template-whats-new {
  
  .single-item-with-dots {
    border-top-color: $color4;

    .card.card-horizontal {
      border-top: 6px solid $color2;
    }

  }

  .three-items-with-dots .slick-slide {

    &:nth-of-type(3n+1) .card.card-vertical {
      border-top-color: $color2;
    }

    &:nth-of-type(3n+2) .card.card-vertical {
      border-top-color: $color1;
    }

    &:nth-of-type(3n+3) .card.card-vertical {
      border-top-color: $color4;
    }

  }

}